* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary:#2563EB;
    --secondary:#F97316;
    --background:#F8FAFC;
    --text:#1E293B;
    --white:#FFFFFF;
}

.navbar{
    color:#2563EB;
}

.button{
    background:#2563EB;
}

.logo{
    color:#2563EB;
    font: size 30px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
    display:block;
    
}